:root {
  --canvas-max-width: 1200px;
  --canvas-max-height: 800px;
  --canvas-width: 1200px;
  --canvas-height: 800px;
  --font-l: calc(var(--canvas-height)*0.05);
  --font-m: calc(var(--canvas-height)*0.04);
  --font-s: calc(var(--canvas-height)*0.03);
}

@media screen and (min-width: 480px) and (min-aspect-ratio: 4/3) {
  /* pc landscape*/
  :root {
    --canvas-width: 100vh;
    --canvas-height: 75vh;
    --container-height: calc(var(--canvas-height)*7/6);
  }
}
@media screen and (min-width: 480px) and (max-aspect-ratio: 4/3) {
  /* pc portrait*/
  :root {
    --canvas-width: 75vw;
    --canvas-height: calc(var(--canvas-width)/4*3);
    --container-height: calc(var(--canvas-height)*7/6);
  }
}
/********************
 * container style *
 ********************/
 .container {
  position: relative;
  width: var(--canvas-width);
  height: var(--container-height);
  margin: 0 auto;
  margin-top: calc((100vh - var(--canvas-height))/2);
  overflow: hidden;
 }
.canvas {
  position: relative;
  width: 100%;
  height: var(--canvas-height);
  margin: 0 auto;
  background-color: var(--c-sky);
  border-style: solid;
  border-width: var(--font-m);
  border-color: var(--c-bk);
  box-sizing:border-box;
}
.footer {
  position: relative;
  width: 100%;
  height: calc(var(--canvas-height)/6);
  max-height: 12.5vh;
}
.column {
  position: relative;
  display: inline-block;
  width: calc(var(--canvas-width)/6);
  height: 100%;
}
.myname {
  position: absolute;
  width: inherit;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
/*****************
 * content style *
 *****************/
